@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f7eedd;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 10000;
}

header h1 {
    font-size: 40px;
    color: white;
}

header .nav1 {
    display: flex;
    gap: 30px;
}

header a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
    background: #1ca38c;
}

header a:hover {
    background: #198d7a;
}

.home {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #fff9ed 30%, #f7eedd);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about {
    padding: 50px;
    background: #1ca38c;
    color: white;
    position: relative;
    z-index: 1;
}

.about h1 {
    font-size: 40px;
}

.nav1 {
    display: inline;
    ;
}

.header nav ul {
    display: flex;
}

.header nav ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}

.header nav ul li a:hover,
.header nav ul li a.active {
    border-bottom-color: dodgerblue;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}

.navv {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: #1ca38c;
    position: sticky;
    max-height: 100px;
    top: 0;
    z-index: 9999;
}

nav #logo {
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 2px;
    margin: auto 0;
}

.navv ul {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.navv ul li a {
    position: relative;
    display: block;
    font-size: 1.5em;
    padding: 25px 45px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

.navv ul li a::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 0%;
    background-color: #fff;
    left: 0;
    bottom: 0;
    transition: 0.3s ease;
}

.navv ul li:hover a::before {
    width: 100%;
}

.navv ul li:hover a {
    background-color: rgba(255, 255, 255, 0.2);
}

.logo2 {
    max-width: 140px;
    max-height: fit-content;
    margin-top: 15px;
    margin-left: 1px;
    z-index: 100;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.item-container {
    position: relative;
    margin: 24px;
    width: 320px;
    height: 470px;
    overflow: hidden;
    background-color: #f7eedd;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 25px;
}

.img-container,
.body-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
}

.body-container {
    position: relative;
    border-radius: 15%;
}

.overlay {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
    opacity: 1;
    height: 150px;
}

.event-info {
    background-color: #faeacb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.title,
.price {
    color: #18537a;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
}

.info {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator {
    width: 20%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
}

.additional-info {
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
}

.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.info i {
    color: #18537a;
    font-size: 1.1em;
    margin-right: 4px;
}

.info span {
    color: #18537a;
    font-weight: bolder;
}

.action {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
    top: 50px;
}

.action:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.logicontainer {
    background-color: #1ca38c;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 868px;
    max-width: 100%;
    min-height: 580px;
    inset: 40px;
    margin: auto;
    z-index: 5555;
    display: block;
}

.logicontainer p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    margin-left: 50px;
}

.logicontainer span {
    font-size: 12px;
}

.logicontainer a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.logicontainer button {
    background-color: rgb(56, 93, 93);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 80px;
    cursor: pointer;
    align-items: center;
}

.logiontainer button.hidden {
    background-color: transparent;
    border-color: #fff;
    margin-left: 40px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.logicontainer.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.logicontainer.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 0 0 0 0;
    z-index: 1000;
}

.logicontainer.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 0 0 0;
}

.toggle {
    background-color: rgb(250, 210, 165);
    height: 100%;
    background: linear-gradient(to right, rgb(250, 210, 165), rgb(250, 210, 165));
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.logicontainer.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.logicontainer.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.logicontainer.active .toggle-right {
    transform: translateX(200%);
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: 20px;
}

.input-group input {
    color: black;
}

.form-container sign-in {
    background-color: #1ca38c;
}

.logicontainer form {
    background-color: #1ca38c;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.logicontainer input {
    background-color: #eeeeeeda;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.input-group input::placeholder {
    color: white;
}

.name-group {
    display: flex;
    justify-content: space-between;
}

.age-gender-group {
    display: flex;
    justify-content: space-between;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.radio-group label {
    margin-left: 3px;
}

.button-container {
    text-align: center;
}

.flex {
    /*Flexbox for containers*/
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.contentss {
    position: relative;
    text-align: center;
    background-color: #1ca38a;
    Width: 100%;
}


/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/* /* Shrinking for mobile */

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .contentss {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}

.footer {
    width: 100%;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #1ca38c;
    opacity: 0, 9;
}


/* Hover affect on social media icon */

.socialIcons a:hover {
    background-color: #1ca38c;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 10px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}