body {
    font-family: josefin sans;
    margin: 0;
    padding: 0;
    background-color: #f7eedd;
}

.contaiiner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about-us {
    background-color: #1ca38c;
    padding: 50px 20px;
    text-align: center;
}

.about-us h1 {
    color: #fff;
    font-size: 40px;
}

.about-us p {
    color: #fff;
    line-height: 1.6;
}


/*blog page*/

.container {
    width: 80%;
    margin: 0 auto;
    padding: 32px 0;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color-dark);
    text-align: center;
    margin-bottom: 41px;
    margin-top: 66px;
}

section {
    background-color: var(--extra-light);
    margin-bottom: 32px;
    padding: 16px;
}

.profile-img {
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 16px auto;
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.blog-post {
    background-color: #f4f4f4;
    border: 1px solid #1ca38c;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 calc(50% - 32px);
    max-width: calc(50% - 32px);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.blog-post:hover {
    transform: translateY(-10px);
}

.blog-post img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blog-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.blog-post h3 {
    margin-bottom: 8px;
    color: #333;
}

.blog-post p {
    margin-bottom: 16px;
    flex-grow: 1;
}

.blog-post a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    align-self: flex-start;
    margin-top: auto;
}

.blog-post a:hover {
    text-decoration: underline;
}

.navv {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: #1ca38c;
    position: fixed;
    max-height: 100px;
    top: 0;
    z-index: 9999;
}

.navv #logo {
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 2px;
    margin: auto 0;
}

.navv ul {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.navv ul li a {
    position: relative;
    display: block;
    font-size: 1.5em;
    padding: 25px 45px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

.navv ul ul li a::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 0%;
    background-color: #fff;
    left: 0;
    bottom: 0;
    transition: 0.3s ease;
}

.navv ul li:hover a::before {
    width: 100%;
}

.navv ul li:hover a {
    background-color: rgba(255, 255, 255, 0.2);
}

.logo2 {
    max-width: 140px;
    max-height: fit-content;
    margin-top: 15px;
    margin-left: 1px;
    display: flex;
}

.flex {
    /*Flexbox for containers*/
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.contentss {
    position: relative;
    text-align: center;
    background-color: #1ca38a;
    Width: 100%;
}


/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/* /* Shrinking for mobile */

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .contentss {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}

.footer {
    width: 100%;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #1ca38c;
    opacity: 0, 9;
}


/* Hover affect on social media icon */

.socialIcons a:hover {
    background-color: #1ca38c;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 10px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}